
<h2><%= image_tag "icon/g_anm.gif" %>このアプリケーションについて</h2>
<p>Twitter上での、食べたものに関するつぶやきを、ログとして残すアプリケーションです。</p>

<h2><%= image_tag "icon/g_anm.gif" %>使い方</h2>
<p><a href="http://twitter.com/eat_log" target="_blank">@eat_log</a>をフォローすると、しばらくしてフォローし返されます。(1時間経ってもフォローが返ってこない場合は、再度お試しください。)</a></p>
<p> #eat というハッシュタグをつけてつぶやくと、ログに記録されます。</p>
<p>ユーザごとのページは、http://eat.ecpplus.net/user/{スクリーン名} です。私(@ecpplus)の場合は、http://eat.ecpplus.net/user/ecpplus です。</p>

<h2><%= image_tag "icon/g_anm.gif" %>バグ・要望について</h2>
<p>Twitterで、 <a href="http://twitter.com/ecpplus" target="_blank">@ecpplus</a> にお願いします。</p>

<h2><%= image_tag "icon/g_anm.gif" %>デザインについて</h2>
<p>なにかデザインとかロゴとかを作って下さる方がいたら、<a href="http://twitter.com/ecpplus" target="_blank">@ecpplus</a>までご連絡いただけるととても嬉しいです。</p>
<p>現在使用している可愛らしいアイコンは、<a href="http://www17.ocn.ne.jp/~yokoyan/index.html" target="_blank">yokopeko</a>さんの素材を使わせて頂いています。</p>

