<h2>このアプリケーションについて</h2>
<p>Twitter上での、食べたものに関するつぶやきを、ログとして残すアプリケーションです。</p>

<h2>使い方</h2>
<p><a href="http://twitter.com/eat_log" target="_blank">@eat_log</a>をフォローすると、しばらくしてフォローし返されます。(1時間経ってもフォローが返ってこない場合は、再度お試しください。)</a></p>
<p> #eat というハッシュタグをつけてつぶやくと、ログに記録されます。</p>
<p>ユーザごとのページは、http://eat.ecpplus.net/{スクリーン名} です。私(@ecpplus)の場合は、http://eat.ecpplus.net/ecpplus です。</p>

<h2>ログインについて</h2>
<p>ログを残すだけでしたら、ログインをする必要はありません。 @eat_log をフォローすれば、自動的にログが取られるようになります。</p>
<p>ログインをすると、不要なつぶやきを消すことができるようになります。</p>

<h2>表示できる画像サービス</h2>
<p>Twitpic, Instagram, yfrog の画像は、ページ内に表示されます。それ以外は表示されません。</p>

<h2>バグ・要望について</h2>
<p>Twitterで、 <a href="http://twitter.com/ecpplus" target="_blank">@ecpplus</a> にお願いします。</p>

