body {
  padding:1em;
}

p {
  line-height: 2;
}

table {
  border: 1px solid #999;
}

th, td {
  border: 1px solid #999;
  padding: 4px;
  vertical-align:middle;
}

h2 {
  margin-top: 1.5em;
  padding-bottom: 4px;
  font-weight:bold;
  font-size: larger;
}

h2 .csv_link {
  font-size: medium;
  font-weight: normal;
}

th {
  background-color: #eee;
}

ul#menu li{
  border:1px solid #ccc;
  background-color: #eee;
  width: 100px;
  float: left;
  padding: 6px;
  margin-right: 4px;
  text-align:center;
}

.pagination {
  padding: 4px 0;
}

#status_flow .current {
  font-weight: bold;
  text-decoration: underline;
}

/* flash message */
.notice {
  border:1px solid green;
  background-color:#cfc;
  padding: 10px;
  margin: 1em 0;
}

.error {
  border:1px solid red;
  background-color:#fcc;
  padding: 10px;
  margin: 1em 0;
}

/* ActiveRecord */
.errorExplanation {
  border:1px solid red;
  background-color:#fcc;
  padding: 10px;
  margin: 1em 0;
}

.errorExplanation ul {
  margin-left: 1em;
}

.errorExplanation li {
  list-style: disc;
}

.fieldWithErrors {
  border: 1px solid red;
  float: left;
}


.clearfix:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

.clearfix { display: inline-table; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

